asgiref==3.2.7
coverage==5.1
Django==3.0.5
django-cors-headers==3.2.1
djangorestframework==3.11.0
gunicorn==20.0.4
Pillow==8.2.0
python-http-client==3.2.7
pytz==2019.3
sendgrid==3.6.5
sendgrid-django==4.2.0
sqlparse==0.3.1
whitenoise==5.0.1
